* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    scroll-snap-type: both mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    /* overflow-x: hidden; */
}

html,
body a {
    text-decoration: none;
    color: #000;

}

::-webkit-scrollbar {
    display: none;
}




nav {
    width: 100%;
    height: 70px;
    color: #eb7c7c;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 40px;

}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

ul {
    font-family: roboto;
    font-weight: 500;
    list-style: none;
    font-size: 20px;
}

ul li {
    color: #eb7c7c;
}

.heading-container {
    width: 60%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}












.page-1 {
    width: 100%;
    height: 100vh;
    background-color: #a31621;
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .heading-1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.page-1 .heading-1 h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
    font-weight: 1000;
    color: #fff;
    letter-spacing: 10px;
}

.page-2 {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .heading-2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120px;
        font-weight: 1000;
        color: #151010;
        letter-spacing: 10px;
        transform: scale(.5);
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        -ms-transform: scale(.5);
        -o-transform: scale(.5);
    }
}

.page-3 {
    width: 100%;
    height: 100vh;
    background-color: #ced3dc;
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .heading-container-3 {
        margin-top: 150px;
    }

    .heading-3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 150px;
        font-weight: 1000;
        color: #fff;
        letter-spacing: 50px;
        margin-top: 250px;
        transform: scale(4);
        -webkit-transform: scale(4);
        -moz-transform: scale(4);
        -ms-transform: scale(4);
        -o-transform: scale(4);
        position: absolute;
        z-index: 99;
        margin-top: 70px;
        display: flex;
    }

    .backImg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 700px;
    }

    .backImg img {
        transition: all .4s linear;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.4);
        -webkit-transform: translate(-50%, -50%) scale(1.4);
        -moz-transform: translate(-50%, -50%) scale(1.4);
        -ms-transform: translate(-50%, -50%) scale(1.4);
        -o-transform: translate(-50%, -50%) scale(1.4);
    }
}

.page-4 {
    width: 100%;
    height: 100vh;
    background-color: #343434;
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .heading-4 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.page-4 .heading-4 h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
    font-weight: 1000;
    color: #fff;
    letter-spacing: 10px;
    margin-top: 200px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.page-5 {
    width: 100%;
    height: 100vh;
    background-color: #dadada;
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;


}





.page-5-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: 1000;
    color: #fff;
    letter-spacing: 50px;
    overflow: hidden;
    position: relative;
    z-index: 99;
    display: flex;

    .leftText,
    .rightText {
        display: flex;
    }
}






















.line {
    position: fixed;
    width: 10%;
    height: 1px;
    background-color: #dadada;
    z-index: 99;
    position: absolute;
    top: 580px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all .4s linear;
}

.box {
    width: 0px;
    height: 00%;
    border: 1px solid;
    position: fixed;
    position: absolute;
    top: 50%;
    left: 49.6%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: all .4s linear;
    border-color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s linear;
    overflow: hidden;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    opacity: 0;

    .box-inner {
        width: 300px;
        height: 50%;
        position: absolute;
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        padding: 10px;
    }

    .heading {
        width: 300px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .dis {
        font-size: 13px;
        margin-top: 20px;
        font-family: roboto;
        font-weight: 100;
        text-align: justify;
    }
}

.dots {
    position: absolute;
    top: 50%;
    left: 96%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 80%;

    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    .dot {
        width: 10px;
        height: 10px;
        background-color: #eb7c7c;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        transition: all .4s linear;
    }
}














@media only screen and (max-width: 600px) {


    nav {
        padding-inline: 30px;
    
    }
    .logo {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 25px;
    }
    
    ul {
        font-family: roboto;
        font-weight: 500;
        list-style: none;
        font-size: 15px;
    }

    .page-1 .heading-1 h5 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 55px;
        font-weight: 1000;
        color: #fff;
        letter-spacing: 10px;
    }



    .page-2 {
        width: 100%;
        height: 100vh;
        background-color: #ffffff;
        scroll-snap-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .heading-container {
            width: 90%;
            height: 65%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        .heading-2 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 60px;
            font-weight: 1000;
            color: #151010;
            letter-spacing: 10px;
            transform: scale(.5);
            -webkit-transform: scale(.5);
            -moz-transform: scale(.5);
            -ms-transform: scale(.5);
            -o-transform: scale(.5);
        }
    }

    .box {
        border: 1px solid;
        position: fixed;
        position: absolute;
        top: 50%;
        left: 49.6%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transition: all .4s linear;
        border-color: #fff;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s linear;
        overflow: hidden;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        opacity: 0;
        margin-left: -85px;

        .box-inner {
            width: 300px;
            height: 50%;
            position: absolute;
            transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            padding: 10px;
        }
    }

    .page-3 {
        width: 100%;
        height: 100vh;
        background-color: #ced3dc;
        scroll-snap-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        .heading-container-3 {
            margin-top: 150px;
        }

        .heading-3 {
            font-size: 50px;
            letter-spacing: 20px;
        }


    }

    .page-4 .heading-4 h5 {
        font-size: 60px;

    }

    .page-5-text {
        font-size: 40px;
        font-weight: 1000;
        color: #fff;
        letter-spacing: 10px;

    
        .leftText,
        .rightText {
            display: flex;
        }
    }
    
}